#side{
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #6d769c;
    color: #fff;
    transition: all 0.3s;
    display: block;
    overflow-y: scroll;
}

#side .button-header {
  padding: 20px;
  background: #6d7fcc;
  text-align: center
}

.head{
  padding: 10px;
  font-size: 1.1em;
  display: block;
  text-decoration: none;
  color: #fff;
  right: 25px;
  display: block;
  text-decoration: none;
}

.head a:hover{
  list-style-type: none;
  color: #146e2a;
  background: #fff;
}

#side ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    color: #f0f1f5;
}
