.nav {
  position: relative;
  display: inline-block;
  width: 150px;
  text-align: left;
}

.nav ul {
left:-9999px;
top:37px;
width:auto;
}
.nav li {
margin-right:5px;
position:relative;
}

.nav li a {
    background:#c1f1bf;
    color:#000;
    display:block;
    font-size:16px;
    padding:8px 10px;
    text-decoration:none;
}
.nav li:hover > a {
    background-color:#858180;
    color:#fff;
}
