.App {
  display: flex;
  width: 100%;
  height: 100%;
}

.App-header {
  /* text-align: left; */
  width: 100%;
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0
}
.ButtonAPI{
  text-align: left;
}
